<div class="login-border" style="top: 15%;">
    <div class="forceColor"></div>
    <div class="topbar">
        <div class="spanColor"></div>
        <input type="text" class="input" placeholder="First name" name="firstName" autocomplete="off" required="required" data-ng-model="firstName">
        <input type="text" class="input" placeholder="Last name" name="lastName" autocomplete="off" required="required" data-ng-model="lastName">
        <input type="email" class="input" placeholder="Email" name="email" autocomplete="off" required="required" data-ng-model="email">
        <input type="password" autocomplete="off" class="input" placeholder="Password" name="password" required="required" data-ng-model="password">
        <input type="password" autocomplete="off" class="input" placeholder="Cofirm Password" name="confirmPassword" required="required" data-ng-model="confirmPassword">
    </div>
    <button class="submit" id="submit2" data-ng-click="createAccount(firstName, lastName, email, password)" style="margin-top: 5px;">Sign up</button>
    <p data-ng-show="showErrorMessage" style="color: red; text-align: center;font-weight: 700">Username and password do not match</p>
</div>


