<nav class="navbar navbar-inverse navigation-clean-button" data-ng-controller="headerController">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand navbar-link" href="/#loans">Loans Tracking</a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav">
                <li role="presentation"><a href="/#loans" data-ng-class="{selectedRoute:getCurrentLocation()=='/loans'}">Loans </a></li>
                <li role="presentation"><a href="/#statistics" data-ng-class="{selectedRoute:getCurrentLocation()=='/statistics'}">Statistics </a></li>
                <li role="presentation"><a href="/#notes" data-ng-class="{selectedRoute:getCurrentLocation()=='/notes'}">Notes </a></li>
            </ul>
            <p class="navbar-text navbar-right actions">
                <a class="navbar-link login" href="/#profile" data-ng-class="{selectedRoute:getCurrentLocation()=='/profile'}">Profile </a>
                <a class="navbar-link login" href="/#signup">Sign Up </a> 
                <a class="btn btn-default action-button" role="button" href="/#login">Login </a>
            </p>
        </div>
    </div>
</nav>