<header class="header-two-bars">
    <div class="header-first-bar">
        <div class="header-limiter">
            <h1>
                <a href="#">Loans<span>Tracking</span></a>
            </h1>
            <nav>
                <a href="/#loans" class="selected">Loans</a>
                <a href="/#statistics">Statistics</a>
                <a href="/#notes">Notes</a>
            </nav>
            <a href="#" class="logout-button">Logout</a>
            <a href="/#profile" class="logout-button">Profile</a>
        </div>
    </div>
</header>
