<div class="login-border">
    <div class="forceColor"></div>
    <div class="topbar">
        <div class="spanColor"></div>
        <input type="text" class="input" placeholder="Email" name="email" autocomplete="off" required="required" data-ng-model="user.username">
        <input type="password" autocomplete="off" class="input" placeholder="Password" name="password" required="required" data-ng-model="user.password">
    </div>
    <button class="submit" id="submit" data-ng-click="login(user.username, user.password)">Login</button>
    <button class="submit" id="submit2" data-ng-click="goToSignup()" style="margin-top: 5px;">Sign up</button>
    <p data-ng-show="showErrorMessage" style="color: red; text-align: center;font-weight: 700">Username and password do not match</p>
</div>



