<div>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Modal - All payments</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <table class="custom-responsive-table loans-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th class="th-center">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="payment in payments track by $index" class="{{$even ? 'success' : 'info'}}">
                    <td>{{payment.date | date:'MM/dd/yyyy'}}</td>
                    <td>{{payment.amountPaid}}</td>
                    <td class="td-center"><button type="button" class="btn-delete" ng-click="deletePayment(payment)"><i class="glyphicon glyphicon-remove"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="closeAllPaymentsModal()">Cancel</button>
    </div>
</div>
