<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 loansModeContent">
    <span class="modeTitle">Add new loan</span>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter a name">
    </div>
    <div class="form-group">
        <label for="surname">Surname:</label>
        <input type="text" class="form-control" id="surname" placeholder="Enter a surname">
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-default btn-raised">Add new payment</button>
        <button type="button" class="btn btn-primary btn-raised" ng-click="openAllPaymentsModal()">All payments</button>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter an amount" style="max-width: 120px;">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt1" is-open="datepicker1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" style="max-width: 100px;" />
        </div>
        <div class="form-group">
            <span>
                <button type="button" class="btn btn-default btn-raised" ng-click="openDatepicker1()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group" style="float: right; padding-top: 17px;">
            <span class="glyphicon glyphicon-remove" aria-hidden="true" style="padding-right: 10px;"></span>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="amount">Amount:</label>
        <input type="text" class="form-control" id="amount" placeholder="Enter an amount">
    </div>
    <p class="input-group">
        <label for="dueDate">Due date:</label>
        <input type="text" class="form-control loan-due-date" uib-datepicker-popup="{{format}}" ng-model="dt2" is-open="datepicker2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
        <span class="input-group-btn dp-btn">
            <button type="button" class="btn btn-default btn-raised" ng-click="openDatepicker2()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
    </p><br/>
    <div class="form-group">
        <p>Status <span class="badge red">-5999.99 KM</span></p>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-info btn-raised">Cancel</button>
        <button type="button" class="btn btn-primary btn-raised">Save</button>
        <button type="button" class="btn btn-warning btn-raised">Delete</button>   
    </div>
</div>